.header-image {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to top right, rgba(6, 23, 43, 0.822), rgb(1, 34, 43));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-image p{
    font-size: 18px;
}

.card-image-style {
    width: 100%;
    height: 200px;
}

.main-footer {
    background:#001727 !important ;
}

.main-footer p {
    margin: 0;
}